In [3]:
# Install mysql-connector-python if not already installed:
# pip3 install mysql-connector-python

In [4]:
# Import the mysql.connector library and establish a connection:
# import mysql.connector as connector
import mysql.connector

# Replace these with your actual database connection details
connection = mysql.connector.connect(
    # host='local',
    user='root',
    password='@1OG6b4g',
    database='LittleLemonDB',
)

# connection = connector.connect(user = "your_username", password = "your_password", db = "database_name") 
# connection = connector.connect(user = "root", password = "@1OG6b4g", db = "LittleLemonDB")

In [5]:
# Create a Cursor:
cursor = connection.cursor()

In [6]:
# Wrap the Query in a String:

query = """
SELECT c.CustomerName, c.Email, c.PhoneNumber, o.GrandTotal
FROM Customer AS c
LEFT JOIN Orders AS o
ON c.CustomerID = o.CustomerID
WHERE GrandTotal >= 60;
"""

In [7]:
# Execute the Query:
cursor.execute(query)

In [8]:
# Fetch and Display Results (Optional):
# If the query returns results, you can fetch and display them.
results = cursor.fetchall()

for row in results:
    print(row)

('John Smith', 'john.smith@example.com', '+1 (123) 456-7890', Decimal('105.00'))
('Mary Johnson', 'mary.johnson@example.com', '+1 (234) 567-8901', Decimal('141.00'))
('Jennifer Davis', 'jennifer.davis@example.com', '+1 (456) 789-0123', Decimal('168.00'))
('Michael Brown', 'michael.brown@example.com', '+1 (567) 890-1234', Decimal('135.00'))
('Linda Jones', 'linda.jones@example.com', '+1 (678) 901-2345', Decimal('132.00'))
('Patricia Wilson', 'patricia.wilson@example.com', '+1 (890) 123-4567', Decimal('125.00'))
('William Lee', 'william.lee@example.com', '+1 (901) 234-5678', Decimal('160.00'))
('Karen Harris', 'karen.harris@example.com', '+1 (012) 345-6789', Decimal('74.00'))
('Richard Clark', 'richard.clark@example.com', '+1 (123) 456-7890', Decimal('162.00'))
('Sandra Young', 'sandra.young@example.com', '+1 (234) 567-8901', Decimal('93.00'))
('Joseph Turner', 'joseph.turner@example.com', '+1 (345) 678-9012', Decimal('62.00'))
('Nancy Allen', 'nancy.allen@example.com', '+1 (456) 789-0123', Decimal('192.00'))
('Charles Hall', 'charles.hall@example.com', '+1 (567) 890-1234', Decimal('192.00'))
('Elizabeth King', 'elizabeth.king@example.com', '+1 (678) 901-2345', Decimal('155.00'))
('Margaret Walker', 'margaret.walker@example.com', '+1 (890) 123-4567', Decimal('210.00'))
('Daniel Martinez', 'daniel.martinez@example.com', '+1 (901) 234-5678', Decimal('117.00'))
('Susan White', 'susan.white@example.com', '+1 (012) 345-6789', Decimal('176.00'))
('Paul Garcia', 'paul.garcia@example.com', '+1 (123) 456-7890', Decimal('69.00'))
('Jessica Scott', 'jessica.scott@example.com', '+1 (234) 567-8901', Decimal('156.00'))
('Mark Evans', 'mark.evans@example.com', '+1 (345) 678-9012', Decimal('228.00'))
('John Robinson', 'john.robinson@example.com', '+1 (567) 890-1234', Decimal('145.00'))
('Kimberly Baker', 'kimberly.baker@example.com', '+1 (678) 901-2345', Decimal('150.00'))
('Donna Rodriguez', 'donna.rodriguez@example.com', '+1 (890) 123-4567', Decimal('248.00'))
('Ronald King', 'ronald.king@example.com', '+1 (901) 234-5678', Decimal('109.00'))
('Lisa Turner', 'lisa.turner@example.com', '+1 (012) 345-6789', Decimal('231.00'))
('Kenneth Green', 'kenneth.green@example.com', '+1 (123) 456-7890', Decimal('176.00'))
('Ashley Taylor', 'ashley.taylor@example.com', '+1 (234) 567-8901', Decimal('62.00'))
('Steven Adams', 'steven.adams@example.com', '+1 (345) 678-9012', Decimal('129.00'))
('Deborah Lewis', 'deborah.lewis@example.com', '+1 (456) 789-0123', Decimal('144.00'))
('Edward Hernandez', 'edward.hernandez@example.com', '+1 (567) 890-1234', Decimal('72.00'))
('Cynthia Brown', 'cynthia.brown@example.com', '+1 (678) 901-2345', Decimal('228.00'))
('Brian Moore', 'brian.moore@example.com', '+1 (789) 012-3456', Decimal('101.00'))
('Sharon Hall', 'sharon.hall@example.com', '+1 (890) 123-4567', Decimal('216.00'))
('Angela Clark', 'angela.clark@example.com', '+1 (012) 345-6789', Decimal('256.00'))
('Larry Davis', 'larry.davis@example.com', '+1 (123) 456-7890', Decimal('79.00'))
('Helen Garcia', 'helen.garcia@example.com', '+1 (234) 567-8901', Decimal('162.00'))
('Frank Martinez', 'frank.martinez@example.com', '+1 (345) 678-9012', Decimal('240.00'))
('Timothy Jones', 'timothy.jones@example.com', '+1 (567) 890-1234', Decimal('141.00'))
('Ruth Wilson', 'ruth.wilson@example.com', '+1 (678) 901-2345', Decimal('150.00'))

In [9]:
# Close Cursor and Connection:
# After executing the query and fetching the results, it's good practice to close the cursor and the database connection.
cursor.close()
connection.close()